/* Reset CSS para sa default na mga estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Pangunahing mga istilo para sa buong website */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Baguhin ang kulay ng background */
    color: #333;
}

/* Estilo para sa header */
header {
    background-color: #143350;
    color: #fff;
    padding: 20px 0; /* Bawasan ang padding */
    text-align: center;
    box-shadow: 0 2px 5px rgb(20, 51, 80; /* Dagdagan ng shadow */
}

header img {
    border-radius: 50%;
    width: 150px; /* Bawasan ang laki ng imahe */
    border: 5px solid #333; /* I-pantay ang border sa background color */
    transition: box-shadow 0.5s, transform 0.5s; /* Dagdagan ng transition sa transform */
}

/* Alisin ang background animation */
/* header {
    transition: background-color 0.5s;
    background: linear-gradient(to bottom, #fe2240, #bc366f);
    background-size: 300% 200%;
} */

header:hover {
    background-color: #444; /* Baguhin ang kulay ng background kapag hover */
}

header img:hover {
    box-shadow: 0 0 20px 5px #f2816c;
    transform: scale(1.1); /* Pabigatin ang pag-aani ng imahe kapag hover */
}

header h1 {
    font-size: 36px; /* Taasan ang laki ng font */
    color: #fff;
    margin-top: 10px; /* I-adjust ang margin sa itaas */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Dagdagan ng text shadow */
    transition: color 0.5s, text-shadow 0.5s;
}

header h1:hover {
    color: #F2F5CA;
}

/* Pangunahing mga istilo para sa content */
.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px; /* Bawasan ang padding */
    background-color: #fff; /* Baguhin ang kulay ng background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Dagdagan ng shadow */
}

img.big-image {
    max-width: 100%;
    transition: box-shadow 0.5s;
}

img.big-image:hover {
    box-shadow: 0 0 20px 5px #fe2240;
}

/* Alisin ang background animation */
/* @keyframes gradientAnimation {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
} */

/* Pangunahing mga istilo para sa mga link */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #007bff; /* Baguhin ang kulay ng mga link */
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s;
}

a:hover {
    color: #0056b3; /* Baguhin ang kulay kapag hover */
    transform: translateX(5px);
}

/* Pangunahing mga istilo para sa footer */
footer {
    margin-top: 20px;
    padding: 40px 0;
    background-color: #333; /* Baguhin ang kulay ng background */
    color: #fff;
    text-align: center;
}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
    margin: 0 5px;
}

audio {
    width: 100%; /* Bawasan ang laki ng audio player */
    max-width: 150px;
}
